.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 1500px;
}

.home-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 760px) {
    .home-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .home-row {
        grid-template-columns: 1fr;
    }
}