.not-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

.container-not {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}